.Heading{
    font-size: 35px;
    padding: 10px 5px;
    color: white;
    background-color: blue;
}



.Girlscard{
    
    display: flex;
    scroll-behavior: smooth;
    overflow-x: scroll;
    overflow-y: hidden;

    margin: 5px;
    height: 420px;
    width: 100%;
    /* line-break: 15px; */

}
.cardss{
    border: 2px solid rgb(221, 220, 222);
    margin: 5px;
    font-size: 20px;
    padding: 10px;
    height: 220px;
    width: 280px;
    text-align: center;
  

}

