.container{
    border: 1px solid red;
    width: 100%;
    height: 800px;
    
}
.main{
    border: 1px solid green;

    background-image: url("../image/pic1.jpg");
    background-repeat: no-repeat;
   
    background-size: cover;
    height: 100%;
    width: 100%;
}
.in{
    margin-left: -600px;
    margin-top: 400px;
    color: rgb(161, 195, 195);
    font-family: Georgia, serif;
}
.in>h1{
font-size: 50px;
}



/* CSS */
.btn {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: rgba(142, 15, 15, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.right{
 margin-top: 440px;
 margin-left: 60px;
  background-color: rgb(222, 81, 81);
  width: 30%;
  border-bottom-left-radius: 15%;
  border-bottom-right-radius: 15%;
  border-top-right-radius: 15%;
  border-top-left-radius: 15%;
  opacity: 0.7;
  padding: 10px;
  color: white
  ;
}
.gender{
  display: flex;
  gap: 20px;
  margin-left: 20px;
  opacity: 1;
}
.gender>select ,.gender>input{
  height: 20px;
  margin-top: 10px;
  width: 50px;
}
.right>button{
  padding: 10px;
  width: 100px;
border-radius: 10px;
cursor: pointer;
}